# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# VSCode
.vscode/

# Local data
docs/*.pdf
docs/*.docx
docs/*.xlsx
docs/*.xls
docs/*.txt
docs/*.csv

# Index, cache, temp
storage/
index/
*.db
*.sqlite
*.sqlite3

# Models (DO NOT PUSH LARGE FILES)
models/*

# Allow model download script
!models/.gitkeep

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
